<div class="divider"></div>
<div class="content contentDom">
<p>Welcome to Ian James Catering</p>

<p>We pride ourselves on personal service and attention to detail. We work with our clients to create the perfect balance of casual and sophisticated offerings tailored for the event, using the best available ingredients of the season.</p>

<p>Our executive chef, Ian McElcheran, is a graduate of the culinary school at George Brown College, with a focus on French cuisine. He continued his training by taking the post graduate program in Italian Culinary Arts, to introduce bold Italian, regional cooking to his repertoire. After working in northern Italy at Trattoria L’Artigliere, a Michelin Star restaurant, he returned to Canada, furthering his skills in the kitchens of the Prince of Wales Hotel in Niagara-on-the-Lake and at Crush Wine Bar in Toronto. Ian McElcheran loves good food and philosophy, his major in university before he pursued his culinary calling. His philosophy about food is simple: start with good ingredients and do not mess with them.</p>

<p>Special arrangements can be made for Ian’s personal attendance at your event.</p>
</div><div class="contentImage contentSub">
   <img src="img/ian2.jpg">
</div>