<div class="divider"></div>
<div class="contentImage contentDom fullOnly">
<img src="img/contactus.jpg">
</div><div class="content contentSub">
<p>Ian James Catering</p>

<div>760 Gordon Baker Road</div>
<div>North York, Ontario</div>
<div>M2H 3B4</div>

<p>Phone: <a href="tel:416.855.4488" class="highlight">416.855.4488</a></p>

<p>Email: <a href="mailto:order@ianjamescatering.com" class="highlight">order@ianjamescatering.com</a></p>
</div><div class="contentImage contentDom mobileOnly">
<img src="img/contactus.jpg">
</div>