
<div class="divider"></div>
<div class="contentImage contentSub fullOnly">
   <img src="img/corplunch.jpg">
</div><div class="content contentDom">
<p>Ian James Catering provides tasty lunches at reasonable prices for your internal meetings, customer events, luncheon presentations or social gatherings. Choose from our Basic, Deluxe and Gourmet Sandwich Selections, accompanied with one or more of our signature salads. Each sandwich, whether Basic, Deluxe or Gourmet, is created with only the best seasonal ingredients and flavor combinations. All of our breads and wraps are baked daily in our kitchen. All our meats are smoked in house for enhanced flavor. An office lunch has never been better. Please download our menu of Corporate Lunch – Cold Selections below and place your order at order@ianjamescatering.com.</p>
</div><div class="contentImage contentSub mobileOnly">
   <img src="img/corplunch.jpg">
</div>