<div class="spacer"></div>
<img src="img/cottagecoolers.png" alt="cottagecoolers" >
<div class="divider"></div>
<div class="bottomText">
<div class="block1">
<p>Ian James Catering will make your weekend at the cottage work-free and stress-free with the Premium Cottage Cooler. Delivered to your home on Friday, the Cottage Cooler will contain a full lunch and dinner for a family of four. No grocery shopping at the last minute. Just put the cooler in the trunk of your car, and head off for the weekend. Ian James Catering will pick up the cooler and recyclable containers on Monday at your home.</p>
</div><div class="block2">
<div class="quote">
“Our goal is to provide simple food that is artfully presented – maintaining the integrity of the individual flavours with sophisticated flair.”
</div>
<div class="quotee">
- Ian, Owner of Ian James Catering
</div>
</div>
</div>
<div class="spacer"></div>
<a class="wideButton" href="#/contact">Contact us to order a Cottage Cooler!</a>
