
<div>
<div class="spacer mobileOnly"></div>
<div class="homePhoto">
   <img src="img/ianhome.jpg">
</div>
<div class="divider"></div>
<div class="bottomText">
<div class="block1">
<p>Simplicity and sophistication are what Ian James Catering brings to your event. Our goal is to provide simple food that is artfully presented – maintaining the integrity of the individual flavours with sophisticated flair. The key to French and Italian cooking, our Chef’s inspiration, is letting great ingredients sing. Let us bring that joy of food to your table.</p>
</div><div class="block2">
<div class="quote">
“The less you do to beautiful food, the better it’s going to taste. You don’t need to mess with it all the time.”
</div>
<div class="quotee">
- Gail Simmons, Food Writer
</div>
</div>
</div>
</div>