<div class="divider"></div>
<div class="content contentDom">
<p>We are able to take care of all of your catering needs.</p>

<p>We at Ian James Catering offer a variety of services, from catering weddings, dinner parties, large and small, in your home or event venue, cocktail receptions, home BBQs, to carefully packed coolers of prepared meals to take with you on your weekend at the cottage. You can trust us to make your special event truly special or to ensure a weekend at the cottage is a true oasis in your busy lives.</p>
</div><div class="contentImage contentSub">
   <img src="img/services.png">
</div>